/* ROOT */

:root {
    --header-height: 60px;
    --ms_sidebar-width: 60px;
    --ms_lg-sidebar-width: 120px;
    --ms_hero-height: 250px;
    --ms_hero-md-height: 180px;
    --header-bg-color: white;
    --sidebar-bg-color: #0B2339;
    --hero-bg-color: #1B72E8;
    --table-bd-color: #dee2e6; 
    --card-header-bg-color: #F7F7F7;
    --ms_done-status-color: #198754;
    --ms_process-status-color: #FFC107;
    --ms_failed-status-color: #DC3545;
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* LAYOUT */
.ms_wrapper {
    width: 100%;
    height: 100vh;
}

/* COMMON */

body {
    font-family: sans-serif;
    /* overflow: hidden; */
}

.ms_row {
    display: flex;
    width: 100%;
    height: calc(100vh - var(--header-height));
}

.ms_card-header {
    background-color: var(--card-header-bg-color);
    border: 1px solid var(--table-bd-color);
}

ul {
    /* list-style-type: none; */
    padding-left: 0;
}


/* HEADER */
header {
    width: 100%;
    height: var(--header-height);
    /* debug */
    background-color: red;
}
/* MAIN/ */

.ms_dash-container {
    width: 100%;
    height: calc(100vh - var(--header-height));
    margin: 0 auto;
}

/* SIDEBAR COL */
.ms_sidebar-col {
    width: var(--ms_sidebar-width);
    height: calc(100vh - var(--header-height));
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--sidebar-bg-color);

}

.sidebar-admin-icon a,
.ms_side-icons a {
    color: white;
    /* text-decoration: none; */
}

.ms_sidebar-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
}


/* MAIN COL */


.ms_main-col {
    width: calc(100% - var(--sidebar-width));
    height: calc(100vh - var(--header-height));
    /* debug */
    background-color: green;
    overflow-y: scroll;
}

/* RESPONSIVE - GENERAL LAYOUT - 992px */

@media screen and (min-width: 992px) {
    .ms_sidebar-col {
        width: var(--ms_lg-sidebar-width);
    }

    .ms_main-col {
        width: calc(100% - var(--ms_lg-sidebar-width));
    }
}

/* BLUE BAR - HERO */

.ms_hero {
    height: var(--ms_hero-height);
    background-color: var(--hero-bg-color);
}

/* RESPONSIVE - HERO LAYOUT - 768px */

@media screen and (min-width: 768px) {
    .ms_hero {
        height: var(--ms_hero-md-height);
    }
}

/* MAIN COL */

/* TABLE */
.table>:not(:last-child)>:last-child>* {
    border-bottom-color: var(--table-bd-color);
}

.ms_class-avatar {
    width: 35px;
    height: 35px;
}

.ms_status {
    border: 1px solid;
}

.ms_done-status {
    border-color: var(--ms_done-status-color);
    background-color: var(--ms_done-status-color);
}

.ms_process-status {
    border-color: var(--ms_process-status-color);
    background-color: var(--ms_process-status-color);
}

.ms_failed-status {
    border-color: var(--ms_failed-status-color);
    background-color: var(--ms_failed-status-color);
}

.ms_actions {
    display: inline-block;
    border: 1px solid black;
    padding: .4rem;
    line-height: 0;
    margin-left: .1rem;
}

